* {
	text-align: center;
}

.heading {
	font-family: Arial;
	margin-top:40vh;
}

.col-1 {
    padding-left: 0px;
}
.col-11 {
    padding-right: 3px;
}

textarea.form-control {
    height: 44px;
		text-align: left;
}

#mp4 {
	height: 44px;
}
